<br><br><br><br>
<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <td colspan="2"><h3><i class="fa fa-files-o"></i> Transaction# {{details._id}}</h3></td>
                </tr>
               <tr>
                   <td>Lot Name</td>
                   <td>{{details.lot_name}}</td>
               </tr>
                <tr>
                    <td>Lot Area</td>
                    <td>{{details.lot_area}}</td>
                </tr>
                <tr>
                    <td>Lot Address</td>
                    <td>{{details.lot_address}}</td>
                </tr>
                <tr>
                    <td>Amount Paid:</td>
                    <td>{{details.amount_paid}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>