<div class="jumbotron">
    <div class="container">
        <h1>Hello, there!</h1>
        <p>EASY Park offers you list of locations to park your car with peace of mind in California area!</p>
        <p><a class="btn btn-primary btn-lg" href="#/signup" role="button">Sign up &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center"><i class="fa fa-user-circle-o fa-4x"></i></h2>
            <p><a href="#/login">Sign in</a> to view the list of Parking lots. Not yet a registered user? It's easy. <a href="#/signup">Sign up now</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center"><i class="fa fa-map-marker fa-4x"></i></h2>
            <p>Find a parking lot near your area > Fill in all the Details > Continue to Payment</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center"><i class="fa fa-credit-card fa-4x"></i></h2>
            <p>Pay using your Credit / Debit card and you are all set! Text message will be sent to your registered phone.</p>
        </div>
    </div>
