<br><br><br><br>
<div class="container" data-ng-init="init()">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <td colspan="2"><h2>User Login</h2></td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" data-ng-model="user.username" placeholder="Username" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" data-ng-model="user.password" placeholder="Password" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-success" data-ng-click="login(user)">Login</button></td>
                </tr>

            </table>
        </div>
    </div>
</div>